body {
  background-color: #efefef;
}

.song-thumb {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.heart {
  width: 20px;
  height: 20px;
}

.box {
  width: 40px;
  height: 40px;
  background-color: red;
  margin: 10px;
}

.box-container {
  display: flex;
}

.title {
  font-size: 85%;
}

.songs-container {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 180px;
  overflow: scroll;
}

.song-item {
  float: left;
}

.song-container-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.song-list-container {
  clear: both;
}

.counter-value {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
}
